:root {
  --dark-layout-bg: #111;
  --dark-logo-url: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
  --dark-logo-icon-url: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.66/static/media/icon_zing_mp3_60.f6b51045.svg);
  --dark-text-item-hover: #fff;
  --dark-alpha-bg: hsla(0, 0%, 100%, 0.1);
  --dark-navigation-text: #dadada;
  --dark-layout-header-bg: rgba(23, 15, 35, 0.8);
  --dark-player-bg: #130c1c;
  --dark-sidebar-bg: #231b2e;
  --dark-sidebar-popup-bg: #2a213a;
  --dark-primary-bg: #34224f;
  --dark-gradient-latest-section-artist: linear-gradient(
    286.07deg,
    rgba(23, 15, 35, 0.95) 55.21%,
    rgba(23, 15, 35, 0.6)
  );
  --dark-alpha-layout-bg: rgba(41, 21, 71, 0.8);
  --dark-queue-player-popup-bg: #120822;
  --dark-blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
  --dark-primary: #9b4de0;
  --dark-link-text-hover: #c273ed;
  --dark-chart-bg-img-alpha: rgba(32, 19, 53, 0.9);
  --dark-song-item-action: hsla(0, 0%, 100%, 0.5);
  --dark-border-primary: hsla(0, 0%, 100%, 0.1);
  --dark-border-secondary: hsla(0, 0%, 100%, 0.05);
  --dark-border-box: hsla(0, 0%, 100%, 0.2);
  --dark-spotlight-item: #130223;
  --dark-border-player: hsla(0, 0%, 100%, 0.1);
  --dark-main-box-shadow: rgba(66, 66, 66, 0.4);
  --dark-new-release-box-shadow: none;
}

.dark-mode {
  color-scheme: dark;
  --layout-bg: var(--dark-layout-bg);
  --logo-url: var(--dark-logo-url);
  --logo-icon-url: var(--dark-logo-icon-url);
  --text-item-hover: var(--dark-text-item-hover);
  --alpha-bg: var(--dark-alpha-bg);
  --navigation-text: var(--dark-navigation-text);
  --layout-header-bg: var(--dark-layout-header-bg);
  --player-bg: var(--dark-player-bg);
  --sidebar-bg: var(--dark-sidebar-bg);
  --sidebar-popup-bg: var(--dark-sidebar-popup-bg);
  --primary-bg: var(--dark-primary-bg);
  --gradient-latest-section-artist: var(--dark-gradient-latest-section-artist);
  --alpha-layout-bg: var(--dark-alpha-layout-bg);
  --queue-player-popup-bg: var(--dark-queue-player-popup-bg);
  --blur-queue-bg: var(--dark-blur-queue-bg);
  --primary: var(--dark-primary);
  --link-text-hover: var(--dark-link-text-hover);
  --chart-bg-img-alpha: var(--dark-chart-bg-img-alpha);
  --song-item-action: var(--dark-song-item-action);
  --border-primary: var(--dark-border-primary);
  --border-secondary: var(--dark-border-secondary);
  --border-box: var(--dark-border-box);
  --spotlight-item: var(--dark-spotlight-item);
  --border-player: var(--dark-border-player);
  --main-box-shadow: var(--dark-main-box-shadow);
  --new-release-box-shadow: var(--dark-new-release-box-shadow);
}
