# compiled output
/dist
/node_modules

# Logs
logs
*.log
/yarn.lock
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Enviroment
.env
./ssh/.env


awesome-nest-generator-2023/node_modules
awesome-nuxt-generator-2024/node_modules
awesome-vue-generator-2024/node_modules
ecommerce-furniture/node_modules
golang-tutorial/node_modules
nuxt3-element-plus-start/node_modules
nuxt3-tailwindcss/node_modules
rabbitmq/node_modules
rabbitmq-2/node_modules
zingmp3-clone/node_modules