:root {
  --logo-url: url(https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg);
  --logo-icon-url: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.9.66/static/media/icon_zing_mp3_60.f6b51045.svg);
  --padding-section: 58px;
  --padding-section-sm: 28px;
  --white: #fff;
  --sidebar-width-sm: 70px;
  --sidebar-width-md: 240px;
  --header-height: 70px;
}
